receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317  # Ensure it listens on all interfaces

exporters:

  otlp/tempo:
    endpoint: "${TEMPO_ENDPOINT}"
    tls:
      insecure: true
    timeout: 10s
    retry_on_failure:
      enabled: true

  otlphttp/loki:
    endpoint: "${LOKI_ENDPOINT}"
    tls:
      insecure: true
    timeout: 10s
    retry_on_failure:
      enabled: true

  prometheus:
    endpoint: 0.0.0.0:8889
    send_timestamps: true

processors:
  batch:
    send_batch_size: 512
    timeout: 5s

extensions:
  zpages:
     endpoint: 0.0.0.0:55679

  # Expose internal OTel Collector metrics for Prometheus scraping
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [zpages, health_check]  # Enable zpages and health check
  telemetry:
    metrics:
      level: detailed
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/loki]